:root {
    --sun_yellow: #f7fc58;
    --sun_orange: #fc6a26;
}
html {
    font-size: 14px;
    background-image: url('../lib/Images/space background.jpg');
    background-size: 100% 100%;
    background-size: cover;
    animation-name: fadeInTrans;
    animation-duration: 3s;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(0, 0, 0, 0);
  color: white;
}
.fade-in {
    
}
.slide-up {
    position: relative;
    animation-name: slideUpTrans;
    animation-duration: 2s;
}
.table-of-contents {
    list-style: none;
    width: fit-content;
    text-align: left;
    font-size: large;
    font-family:Georgia;
}
.toc-item{
    text-decoration:none;
    color: white;
}
.main-container {
    background-color: rgb(0, 0, 0, 80%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px;
}
.toc-container:hover {
    box-shadow: 0px 0px 7px 5px;
    transition-duration: .5s;
}
.w-fit-content{
    width: fit-content;
}
.pl-30 {
    padding-left: 30px;
}
.ml-30 {
    margin-left: 30px;
}
.img-screenshot{
    height: 400px;
    max-width: 75%;
}
@keyframes fadeInTrans{
    0%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes slideUpTrans{
    0% {
        top: 80px;
    }

    100% {
        top: 0px;
    }
}
.Navbar-Color-Animation{
    animation-name: NavColorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes NavColorChange{
    0% {
        background-color: var(--sun_yellow);
        box-shadow: 0px 0px 15px 1px var(--sun_yellow);
    }
    50% {
        background-color: var(--sun_orange);
        box-shadow: 0px 0px 5px 1px var(--sun_orange);
    }
    100% {
        background-color: var(--sun_yellow);
        box-shadow: 0px 0px 15px 1px var(--sun_yellow);
    }
}