@page "/nuget-extentions"
@model WebApplicationDemo.Pages.NuGetExtensionsModel
@{
    ViewData["Title"] = "NuGet Extensions";
}
<div>
    <p>When working with the backend of a ASP Net web app, you will most likely need to install extensions to have your code do certian tasks such as access a persistant database. Right click on your solution in the "Solution explorer" and navigate to "Manage NuGet Packages for Solution..."</p>
    <img src="/lib/Images/NuGet Packages Path.png" alt="Path to NuGet Manager" class="mb-5 img-screenshot" />
    <p>A tab will open where you will be able to search for C# extensions and choose which version of them you want. Note: You may need to get an earlier version of the package if you are working with older frameworks.</p>
    <img src="/lib/Images/NuGet Tab.png" alt="NuGet Tab" class="mb-5 img-screenshot" />
</div>