@page
@model WebApplicationDemo.Pages.SolutionStructureModel
@{
    ViewData["Title"] = "Template Structure";
}

<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Template File Structure</h1>
    <section class="text-start">
        <i class="bi bi-folder"></i> ProjectName<br>
        |    <i class="bi bi-folder"></i> Connected Services<br>
        |    <i class="bi bi-folder"></i> Dependencies<br>
        |    <i class="bi bi-folder"></i> Properties<br>
        |    |    <i class="bi bi-filetype-json"></i>launchsettings.json<br>
        |    <i class="bi bi-folder"></i> wwwroot<br>
        |    |    <i class="bi bi-folder"></i> css<br>
        |    |    <i class="bi bi-folder"></i> js<br>
        |    |    <i class="bi bi-folder"></i> </i> lib<br>
        |    <i class="bi bi-folder"></i> Pages<br>
        |    |    <i class="bi bi-folder"></i> Shared<br>
        |    |    |    <i class="bi bi-file-earmark"></i> _layout.cshtml<br>
        |    |    |    <i class="bi bi-file-earmark"></i> _ValidationScriptsPartial.cshtml<br>
        |    |    <i class="bi bi-file-earmark"></i> Index.cshtml<br>
        |    |    <i class="bi bi-file-earmark"></i> Privacy.cshtml<br>
        |    |    <i class="bi bi-file-earmark"></i> Error.cshtml<br>
        |    <i class="bi bi-filetype-json"></i>appsettings.json<br>
        |    <i class="bi bi-folder"></i> Program.cs<br>
    </section>
</div>