@page
@model WebApplicationDemo.Pages.SolutionStructureModel
@{
    ViewData["Title"] = "Template Structure";
}

<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Template File Structure</h1>
    <section>
        Magna tincidunt sanctus dolore consequat accusam rebum justo sit labore nonumy in aliquyam rebum lorem sed diam amet voluptua stet ut ea ipsum est ullamcorper molestie stet commodo sadipscing praesent minim eum exerci consetetur aliquyam ullamcorper rebum consetetur tempor eos autem nibh dolore clita eos et suscipit nonumy facilisis et dolore laoreet rebum lorem kasd duis et amet te erat no magna diam aliquyam no hendrerit erat et labore stet erat et facilisis vero lorem et labore sed luptatum invidunt amet eos eirmod gubergren ut diam amet nulla et dolore labore ipsum ut tation laoreet ut ex justo invidunt aliquyam tempor consectetuer sanctus duo rebum consequat sit in aliquam invidunt luptatum aliquyam labore est autem ut eum et diam duo tempor diam tempor erat elitr accusam clita duo et rebum nisl ea et invidunt tempor option blandit iusto dolor lorem amet no ut vel nulla sed aliquyam rebum no lorem sed lorem suscipit praesent dolore sit stet dolor no tincidunt ullamcorper diam accusam suscipit consequat sit sanctus dolore duo lorem dolor accusam et facilisis eos dolores lobortis diam takimata labore diam eos gubergren et et et sed takimata labore sed sit duo rebum tempor takimata justo nonumy amet ea sed
    </section>
</div>