@page "/setup/template"
@model WebApplicationDemo.Pages.Starting_Out.CreateTemplateModel
@{
    ViewData["Title"] = "Creating a Template";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5 main-container">
    <h1>Creating your web app template</h1>
    <section>
        <p>To setup your first asp.net core app, you need to navigate to File -> New -> Project:</p>
        <img src="/lib/Images/new_project.png" alt="work load image" class="mb-5 img-screenshot" />
        <p>There you will be given a selection of project templates to create. Choose "ASP.NET Core Web App" and click next. The main areas you want to change are the storage location and name of the project. Keep in mind that the preset path for the project is not always to the folder you are on. Once you finish the setup, an entire framework and template will be generated.</p>
    </section>
    <div class="page-nav d-flex flex-row  align-self-center flex-nowrap justify-content-center gap-5">
        <a asp-area="" asp-page="/Starting Out/Installation"><button class="btn btn-outline-light">Back</button></a>
        <a asp-area="" asp-page="/Index"><button class="btn btn-outline-light">Table Of Contents</button></a>
        <a asp-area="" asp-page="/Starting Out/TestProject"><button class="btn btn-outline-light">Next</button></a>
    </div>
</div>