@page "/setup/template"
@model WebApplicationDemo.Pages.Starting_Out.CreateTemplateModel
@{
    ViewData["Title"] = "Creating a Template";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Creating your web app template</h1>
    <section>No lorem lorem praesent sit voluptua stet dolores accusam no justo ipsum nonumy te invidunt ipsum in ea et sed ut sea at et suscipit praesent lorem eos ea sanctus elitr kasd consequat ut ipsum sed et augue congue dolore dolores diam takimata voluptua duo eirmod accusam clita voluptua sit eirmod lorem duo diam invidunt sit vero et clita dolores placerat diam justo et consectetuer ipsum et est in consetetur duis clita illum no vero eleifend sit et rebum praesent sit elitr diam eu duo elitr dolor stet vulputate dolor dolores est aliquip feugiat nonumy diam in feugait dolore et eirmod minim nonumy magna est voluptua labore at lorem lobortis praesent elitr takimata ad accusam duo tempor consequat consequat tempor nonumy diam dolore possim eum elitr euismod lorem et sit vero elitr sadipscing eos ea ea ipsum ex in sadipscing no qui et et nisl et dolor eirmod voluptua accumsan wisi est clita dolore diam sit stet lorem cum autem dolore aliquyam no sea nonummy in lorem in erat at dolore diam sadipscing est labore et accusam ipsum tempor lorem sed ipsum sed sit sit justo nulla dolor est justo invidunt lorem sit aliquyam gubergren stet id voluptua stet at</section>
</div>