@page "/setup/installation"
@model WebApplicationDemo.Pages.Starting_Out.InstallationModel
@{
    ViewData["Title"] = "Installing Development Software";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Installing VS 2022 and Extensions</h1>
    <section>
        <p>You can install Visual Studio 2022 by clicking this <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">link</a> and selecting the community version. Note that there is a difference between this and Visual Studio Code.</p>
        <p>You can keep using the default settings in the installer until you reach this page: </p>
        <p>In the picture above, you will see that the .net extensions have been selected, this will select the basic starter extensions for a asp.net core project. Will also be an option to look at the other .net extensions you can download. You should add .net 6.0 to the list of extensions you install. You are also free to download whatever may be helpful to you. Once the required extensions have been selected, yuo confirm your choice and finalize the installation. Note: If you need to download more extensions from the setup page, you can go back select more extensions to download by navigating to manage extensions under the extensions tab. </p>
        <a asp-area="" asp-page="/Starting Out/CreateTemplate"><button>Next</button></a>
    </section>
</div>