@page "/setup/installation"
@model WebApplicationDemo.Pages.Starting_Out.InstallationModel
@{
    ViewData["Title"] = "Installing Development Software";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Installing VS 2022 and Extensions</h1>
    <section>Diam sit dolor nisl consetetur takimata clita laoreet ipsum takimata at kasd clita labore consequat quis duo dolor nibh voluptua kasd est justo sanctus accusam facilisis aliquyam rebum id accusam quod sit dolore sadipscing diam at kasd nulla amet possim takimata diam enim consequat consequat voluptua elitr diam diam duo amet dolore rebum amet praesent eirmod lorem eirmod eirmod consectetuer voluptua ipsum dolore consetetur eos veniam sed in voluptua imperdiet option consetetur dolor sed justo accusam suscipit voluptua nulla sit ut et suscipit voluptua sed sit ea ut et velit gubergren eos consetetur dolor duis dolor takimata accusam et dolore dolor esse no magna justo dignissim iusto nonumy et eum congue et erat tempor esse in exerci sanctus duo ut rebum elitr clita volutpat sit nulla lorem in imperdiet eum rebum eirmod dolor iriure ipsum consequat takimata magna sed dolore accumsan dolore stet amet voluptua et vero takimata dolor ut dolore dolor ex aliquyam dolores nonumy voluptua elitr magna gubergren volutpat sed exerci et eu kasd sed dolore diam tempor invidunt tempor amet erat sit labore sed dolores at delenit zzril in no vero quis clita soluta rebum euismod gubergren odio rebum in magna lorem iriure lorem elit stet lorem</section>
</div>