@page "/setup/testing"
@model WebApplicationDemo.Pages.Starting_Out.TestProjectModel
@{
    ViewData["Title"] = "Testing Your Project";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Testing your project</h1>
    <section>Sadipscing consetetur dolor nihil lorem amet velit euismod dolores quis gubergren no qui molestie iriure elitr et amet elitr dignissim sea consectetuer diam erat ut et stet nisl at aliquip eos dolores ipsum iriure accusam odio diam elit sed wisi id sed consequat ea et vero no no ipsum clita at lorem eirmod diam sed euismod lorem in clita vero consequat et sit esse et clita est sed stet diam dolor no eos voluptua kasd feugiat invidunt at sit suscipit elitr et amet stet eros eos erat doming dolor ut et gubergren justo sit rebum te iriure clita accumsan accusam accusam dolor dolor ad gubergren sit voluptua sit dolore consetetur in aliquyam iriure dolore ut illum labore eirmod no sit et erat te lorem vero blandit diam et clita qui accusam at duo at dolor dolore vero tempor ipsum elitr sit et rebum sea labore invidunt nisl dolor lorem dolor ut elitr ipsum eos iusto kasd facilisis tation diam at id est molestie nulla diam qui delenit accusam ut aliquyam sea ipsum molestie duo ut labore ea consequat accusam tempor dolor sadipscing hendrerit diam elitr clita accusam veniam dignissim no dolore illum ea imperdiet wisi elitr duo dolore duo consequat</section>
</div>