@page "/setup/testing"
@model WebApplicationDemo.Pages.Starting_Out.TestProjectModel
@{
    ViewData["Title"] = "Testing Your Project";
}
<div class="d-flex flex-column align-self-center flex-nowrap col-10 text-center mx-auto mt-5">
    <h1>Testing your project</h1>
    <section>
        <p>To test the project, navigate to the nav bar below the main one to a button with a play symbol and the name of the project next to it. Press that button to begin building and setting up your webpage and hosting server.</p>
        <p>One issue that you may come across when running the project is that it will respond with a message saying that the website is not secure. To resolve this issue, you first need to annd the ssl tokens to your browsing settings to ensure that the site is always given authorization. If the problem stil persists, change your browser settings so that invalid certificates from localhost will be allowed. If you are using Google Chrome, you can go to the <a href="chrome://flags/">flags</a> settings and enable this feature. </p>
    </section>
</div>