@page "/bootstrap-usage/basic-bootstrap"
@model WebApplicationDemo.Pages.Bootstrap_Tutorial.GeneralBootstrapModel
@{
    ViewData["Title"] = "Basic Bootstrap Usage";
}
<div>
    <p>Upon creating your project, you will have access to basic bootstrap css classes. If you are not familiar with bootstrap, you can go to the <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap Documentation</a> to see the premade styles you can apply.</p>
    <img src="/lib/Images/Bootstrap Doc Page.png" alt="Client-Side Manager Path" class="mb-5 img-screenshot" />
    <p>Certain features from Bootstrap, such as icons, won't be automaticaly available for your webpages, so you will have to manually import those feature to your project.'</p>
</div>